html, body {
  margin: 0;
}

/* LAYOUT 1 */
.rcgl-grid.layout1 {
  grid-template-rows: 50% 50%;
  grid-template-columns: minmax(auto, calc(250px * (16 / 9))) minmax(40%, auto);
}
.rcgl-grid.layout1 .rcgl-grid-item.one {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.rcgl-grid.layout1 .rcgl-grid-item.two {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.rcgl-grid.layout1 .rcgl-grid-item.three {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.rcgl-grid.layout1 .rcgl-grid-item.four {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* LAYOUT 2 */
.rcgl-grid.layout2 {
  grid-template-rows: 50% 50%;
  grid-template-columns: minmax(40%, auto) minmax(auto, calc(250px * (16 / 9)));
}
.rcgl-grid.layout2 .rcgl-grid-item.one {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.rcgl-grid.layout2 .rcgl-grid-item.two {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.rcgl-grid.layout2 .rcgl-grid-item.three {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.rcgl-grid.layout2 .rcgl-grid-item.four {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.rcgl-grid-element.one {
  background-color: lightgreen
}
.rcgl-grid-element.two {
  background-color: lightblue;
}
.rcgl-grid-element.three {
  background-color: salmon;
}
.rcgl-grid-element.four {
  background-color: darkorchid
}
